<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>layout</title>
<th:bloc th:replace="~{layout/header :: header}"></th:bloc>
</head>
<body>
<!--https://www.thymeleaf.org/doc/articles/standardurlsyntax.html-->
	<th:bloc th:replace="~{layout/nav :: nav}"></th:bloc>
	<th:bloc layout:fragment="content">

		<div class="container" style="margin-top:80px">

			<h1>게시판</h1>

			<table class="table table-hover ">
				<colgroup>
					<col style="width:8%">
					<col style="width:68%">
					<col style="width:12%">
					<col style="width:12%">
				</colgroup>
				<thead class="table-secondary">
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
				</thead>
				<tbody>
					<tr th:each="board:${boardList}" >
						<td><span th:text="${board.seq}"></span></td>
						<td>
							<a th:href="@{/board/view/{id}(id=${board.seq})}"><span th:text="${board.title}"></span></a></td>
						<td><span th:text="${board.writer}"></span></td>
						<td><span th:text="${board.wdate}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="container mt-3" style="text-align:right;">
			<a th:href="@{/board/write}" class="btn btn-secondary">글쓰기</a>

		</div>

	</th:bloc>

	<th:bloc th:replace="~{layout/footer :: footer}"></th:bloc>
</body>
</html>

<script>


</script>